// COLORS
$slate-darker: #3b3b3b;
$slate-dark: #424242;
$slate: #4a4a4a;
$slate-light: #5c5c5c;
$slate-lighter: #6e6e6e;

$primary: #f2692e;
$off-color: #33373e;
$complimentary: #ffd0a5;

$background-color: #f9f9f9;

$hinted-grey-1  : hsl(261, 8%, 6%);  // --  -4
$hinted-grey-2  : hsl(261, 8%, 10%); // --  -4
$hinted-grey-3  : hsl(261, 8%, 14%); // --  -6
$hinted-grey-4  : hsl(261, 8%, 20%); // --  -7
$hinted-grey-5  : hsl(261, 8%, 27%); // --  -8
$hinted-grey-6  : hsl(261, 8%, 35%); // --  -10
$hinted-grey-7  : hsl(261, 8%, 44%); // --  --
$hinted-grey-8  : hsl(261, 8%, 55%); // --  --
$hinted-grey-9  : hsl(261, 8%, 65%); // --  +10
$hinted-grey-10 : hsl(261, 8%, 73%); // --  +8
$hinted-grey-11 : hsl(261, 8%, 80%); // --  +7
$hinted-grey-12 : hsl(261, 8%, 86%); // --  +6
$hinted-grey-13 : hsl(261, 8%, 90%); // --  +4
$hinted-grey-14 : hsl(261, 8%, 94%); // --  +4
$hinted-grey-15 : hsl(261, 8%, 98%); // --  +4

// Bulma Overrides

$navbar-height: 5rem;


